<div *ngIf="loading" class="text-center py-5">
  <span>Cargando datos...</span>
</div>
<div *ngIf="!loading && data" class="graficas-grid">
  <div class="chart-card">
    <app-grafica-barra-total-personal [data]="{ masculino: data.totalPersonal.masculino, femenino: data.totalPersonal.femenino, discapacitado: 0 }"></app-grafica-barra-total-personal>
  </div>
  <div class="chart-card">
    <h4 class="chart-title">Cargos</h4>
    <app-grafica-cargos-asignados [data]="data.cargosAsignados"></app-grafica-cargos-asignados>
  </div>
  <div class="chart-card">
    <app-grafica-rango-edades [data]="data.rangoEdades"></app-grafica-rango-edades>
  </div>
  <div class="chart-card">
    <app-grafica-trabajadores-residentes [data]="data.trabajadoresResidentes"></app-grafica-trabajadores-residentes>
  </div>
  <div class="chart-card">
    <app-grafica-tipos-etnias [data]="data.tiposEtnias"></app-grafica-tipos-etnias>
  </div>
</div>
