name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  backend-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "maven"

      - name: Make mvnw executable
        working-directory: backend
        run: chmod +x mvnw

      - name: Build backend
        working-directory: backend
        run: ./mvnw -B -DskipTests clean verify
